* {
    font-size: 1.3rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: rgb(35, 134, 126);
    transition: 0.4s all ease-out;
  }
.wrapper {
    background-color: rgb(201, 230, 255);
}
  img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    color: rgb(0, 181, 194);
  }
  .accordion {
    padding: 1.25rem;
    width: 75%;
    display: table;
    margin: 0 auto;
    cursor: pointer;
  }
  .accordion:hover .item-title{
    color:black;
  }
  .accordion input {
    display: none;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img__wrapper {
    width: 48%;
    height: auto;
    max-width: 27.5rem;
  }

  .accordion-item {
    margin: 0.62rem auto;
  }
  
  .accordion-item .header {
    border-top: 1.3px solid rgba(189, 187, 187, 0.819);
    padding: 15px 0;
    cursor: pointer;
    max-width: 75%;
    margin: 0 auto;
  }
  
  .accordion-item label {
    display: block;
    height: 56px;
    overflow: hidden;
  }
  .arrow {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  input[id="one"]:checked ~ label[for="one"],
  input[id="two"]:checked ~ label[for="two"],
  input[id="three"]:checked ~ label[for="three"],
  input[id="four"]:checked ~ label[for="four"]{
    height: 380px;
  }
  
  label[for="one"]:hover,
  label[for="two"]:hover,
  label[for="three"]:hover,
  label[for="four"]:hover{
    height: 380px;
  }

  
  input[id="one"]:checked ~ label[for="one"] > .header,
  input[id="two"]:checked ~ label[for="two"] > .header,
  input[id="three"]:checked ~ label[for="three"] > .header,
  input[id="four"]:checked ~ label[for="four"] > .header{
    color: black;
  }


  label[for="one"]:hover .arrow,
  label[for="two"]:hover .arrow,
  label[for="three"]:hover .arrow,
  label[for="four"]:hover .arrow{
    transform: rotate(180deg);
  }

  
  input[id="one"]:checked ~ label[for="one"] > .header .arrow,
  input[id="two"]:checked ~ label[for="two"] > .header .arrow,
  input[id="three"]:checked ~ label[for="three"] > .header .arrow,
  input[id="four"]:checked ~ label[for="four"] > .header .arrow{
    transform: rotate(180deg);
  }
    /* label[for="one"]:hover .header,
  label[for="two"]:hover .header,
  label[for="three"]:hover .header,
  label[for="four"]:hover .header {
    color: red;
  } */